lsp_servers:
  python:
    name: Pyright Language Server
    command:
      - ./static_analyzer/servers/node_modules/.bin/pyright-langserver
      - --stdio
    languages:
      - python
  typescript:
    name: TypeScript Language Server
    command:
      - ./static_analyzer/servers/node_modules/.bin/typescript-language-server
      - --stdio
      - --log-level=2
    languages:
  javascript:
    name: TypeScript Language Server
    command:
      - ./static_analyzer/servers/node_modules/.bin/typescript-language-server
      - --stdio
      - --log-level=2
    languages:
  go:
    name: Go Language Server (gopls)
    command:
      - ./static_analyzer/servers/gopls
      - serve
    languages:
      - go
  php:
    name: Intelephense
    command:
      - ./static_analyzer/servers/node_modules/.bin/intelephense
      - --stdio
    languages:
      - php
  java:
    name: Eclipse JDT Language Server
    command:
      - java # Placeholder - actual command constructed by JavaClient
    languages:
      - java
    file_extensions:
      - .java
    install_commands: |
      wget https://download.eclipse.org/jdtls/milestones/1.54.0/jdt-language-server-1.54.0-202511261751.tar.gz
      tar -xzf jdt-language-server-*.tar.gz -C ./static_analyzer/servers/jdtls
    jdtls_root: ./static_analyzer/servers/jdtls
tools:
  tokei:
    name: tokei
    command:
      - ./static_analyzer/servers/tokei
      - -o
      - json
    description: Analyze repository languages and file types
    install_command: conda install -c conda-forge tokei
    output_format: json