lsp_servers:
  python:
    name: Pyright Language Server
    command:
      - /home/ivan/StartUp/CodeBoarding/static_analyzer/servers/node_modules/.bin/pyright-langserver
      - --stdio
    languages:
      - python
    file_extensions:
      - .py
      - .pyi
    install_commands: npm install pyright
  typescript:
    name: TypeScript Language Server
    command:
      - /home/ivan/StartUp/CodeBoarding/static_analyzer/servers/node_modules/.bin/typescript-language-server
      - --stdio
      - --log-level=2
    languages:
      - typescript
    file_extensions:
      - .ts
      - .tsx
    install_commands: npm install --save-dev typescript-language-server typescript
  javascript:
    name: TypeScript Language Server
    command:
      - /home/ivan/StartUp/CodeBoarding/static_analyzer/servers/node_modules/.bin/typescript-language-server
      - --stdio
      - --log-level=2
    languages:
      - javascript
    file_extensions:
      - .js
      - .jsx
    install_commands: npm install --save-dev typescript-language-server typescript
  go:
    name: Go Language Server (gopls)
    command:
      - /home/ivan/StartUp/CodeBoarding/static_analyzer/servers/gopls
      - serve
    languages:
      - go
    file_extensions:
      - .go
    install_commands: go install golang.org/x/tools/gopls@latest
  php:
    name: Intelephense
    command:
      - /home/ivan/StartUp/CodeBoarding/static_analyzer/servers/node_modules/.bin/intelephense
      - --stdio
    languages:
      - php
    file_extensions:
      - .php
    install_commands: npm install intelephense
  java:
    name: Eclipse JDT Language Server
    command:
      - java # Placeholder - actual command constructed by JavaClient
    languages:
      - java
    file_extensions:
      - .java
    install_commands: |
      wget https://download.eclipse.org/jdtls/milestones/1.54.0/jdt-language-server-1.54.0-202511261751.tar.gz
      tar -xzf jdt-language-server-*.tar.gz -C /home/ivan/StartUp/CodeBoarding/static_analyzer/servers/jdtls
    jdtls_root: /home/ivan/StartUp/CodeBoarding/static_analyzer/servers/jdtls
tools:
  tokei:
    name: tokei
    command:
      - /home/ivan/StartUp/CodeBoarding/static_analyzer/servers/tokei
      - -o
      - json
    description: Analyze repository languages and file types
    install_command: conda install -c conda-forge tokei
    output_format: json
