name: pre-commit


on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install pre-commit
        run: pipx install pre-commit

      - name: Run pre-commit on all files
        run: pre-commit run --all-files

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Run mypy type checker
        run: uv run mypy .

